<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>32</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>hero_attack_00_01_weapon</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>8.000</real>
                             <key>position</key> <string>{ 46.213,2.481 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>hero_attack_01_01_weapon</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>8.000</real>
                             <key>position</key> <string>{ 56.851,0.567 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>hero_attack_02_02_weapon</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>18.028</real>
                             <key>position</key> <string>{ 62.383,6.737 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>hero_jumpattack_02_weapon</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>15.033</real>
                             <key>position</key> <string>{ 32.747,-23.916 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>11.000</real>
                             <key>position</key> <string>{ 52.175,-41.581 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>9.000</real>
                             <key>position</key> <string>{ 67.964,-54.338 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>hero_runattack_02_weapon</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>7.000</real>
                             <key>position</key> <string>{ 38.821,-7.519 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>boss_attack_01_weapon</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>20.100</real>
                             <key>position</key> <string>{ 50.000,19.348 }</string>
                         </dict>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>2</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>4</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>19.000</real>
                             <key>position</key> <string>{ 70.000,44.565 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

